<footer class="footer-page">
    <div class="container footer-container">
            <ul class="footer-nav-list">
                <li class="footer-nav-item child-1">
                    <a class="footer-nav-link" href="">About us</a>
                </li>
                <li class="footer-nav-item child-2">
                    <a class="footer-nav-link" href="">Our collection</a>
                </li>
                <li class="footer-nav-item child-3">
                    <a class="footer-nav-link" href="">Customer order</a>
                </li>
                <li class="footer-nav-item child-4">
                    <a class="footer-nav-link" href="">Testimonials</a>
                </li>
            </ul>
        <p class="footer-text">
            A touch of <span class="footer-span-text">Ukrainian</span> culture in every embroidery
        </p>
    
    </div>
    <div class="background"></div>
    
</footer>