<!-- ========== HEADER ========== -->

<header class="page-header">
  <div class="container page-header-container">
    <nav class="page-nav-header">
      <a class="page-logo-header" href="/index.html">
        <img
          class="page-logo-img-header"
          src=""
          alt="Logo"
          width="44"
          height="40"
        />
      </a>
      <ul class="menu-header">
        <li class="menu-item-header">
          <a class="menu-link-header" href="#about-us">About us</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#our-collection">Our collection</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#customer-order">Customer order</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="page-header-social-container">
      <address class="page-address-header">
        <a class="address-link-header" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <ul class="page-header-social-list">
        <li class="page-header-social-item">
          <a
            class="page-header-social-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="page-header-social-icons" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="page-header-social-item">
          <a
            class="page-header-social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="page-header-social-icons" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="page-header-social-item">
          <a
            class="page-header-social-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="page-header-social-icons" width="28" height="28">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mobile-open-btn" type="button">
        <svg class="mobile-open-btn-icon">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</header>
