<section class="hero">
  <div class="hero-wrap container">
    <div>
      <h1 class="hero-text">
        Reviving the traditional
        <span class="hero-text-part">Ukrainian</span> artistry in every stitch.
      </h1>
      <button class="hero-button">Order</button>
    </div>
    <img src="" alt="girl" class="hero-img" />
    <div class="hero-star">
      <svg class="hero-star-icon" width="52" height="52">
        <use></use>
      </svg>
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>
