<section class="hero">
  <div class="hero-wrap container">
    <div>
      <h1 class="hero-text">
        Reviving the traditional
        <span class="hero-text-part">Ukrainian</span> artistry in every stitch.
      </h1>
      <a href="#order" class="hero-button">Order
        <svg width="26" height="26">
          <use href="/images/svg/symbol-defs.svg#icon-button-arrow"></use>
        </svg>
      </a>
    </div>
    <picture>
      <source media="(min-width:1280px)" srcset="
          /images/hero/hero-desktop1x.jpg  1x,
          /images/hero/hero-desktop@2x.jpg 2x" width="392" height="545" />
      <source media="(min-width:768px)" srcset="
          /images/hero/hero-tablet1x.jpg  1x,
          /images/hero/hero-tablet@2x.jpg 2x" width="413" height="575" />
      <source media="(max-width:767px)" srcset="
          /images/hero/hero-mobile1x.jpg  1x,
          /images/hero/hero-mobile@2x.jpg 2x" width="335" height="545" />
      <img src="/images/hero/hero-desktop1x.jpg" alt="girl" class="hero-img" />
    </picture>
    <div class="hero-star">
      <svg width="52" height="52">
        <use href="/images/svg/symbol-defs.svg#icon-Star-hero"></use>
      </svg>
      <p class="hero-star-text">all embroidery is made by hand</p>
    </div>
  </div>
</section>