<div class="overlay-menu js-menu-container" id="mobile-menu">
  <div class="mobile-tab-menu">
    <address class="mobile-tab-menu-address">
      <a class="mobile-menu-tel" href="tel:+380684439426"
        >+380 (68) 443-94-26
      </a>
    </address>
    <button class="mobile-menu-btn-close js-close-menu" type="button">
      <svg class="icon-close-mobile">
        <use href="/images/svg/symbol-defs.svg#icon-close-menu"></use>
      </svg>
    </button>
    <ul class="mobile-tab-menu-list">
      <li class="mobile-tab-menu-items-list">
        <a class="mobile-tab-menu-items-link" href="#about-us">About us</a>
      </li>
      <li class="mobile-tab-menu-items-list">
        <a class="mobile-tab-menu-items-link" href="#our-collection"
          >Our collection</a
        >
      </li>
      <li class="mobile-tab-menu-items-list">
        <a class="mobile-tab-menu-items-link" href="#customer-order"
          >Customer order</a
        >
      </li>
      <li class="mobile-tab-menu-items-list">
        <a class="mobile-tab-menu-items-link" href="#testimonials"
          >Testimonials</a
        >
      </li>
    </ul>
  </div>
</div>
