<section class="section">
  <div class="container">
    <h2 class="collection-title" id="our-collection">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-card">
        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image1-desktop1x.jpg 1x, /images/our-collection/image1-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image1-tablet1x.jpg 1x, /images/our-collection/image1-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image1-mobile.jpg 1x, /images/our-collection/image1-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image1-desktop1x.jpg 1x"
            alt="August Poltava women's blousering" />
        </picture>

        <h3 class="collection-list-title">
          August Poltava women's blousering
        </h3>
        <p class="collection-list-text">3300 uah</p>

      </li>
      <li class="collection-card">

        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image2-desktop1x.jpg 1x, /images/our-collection/image2-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image2-tablet1x.jpg 1x, /images/our-collection/image2-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image2-mobile.jpg 1x, /images/our-collection/image2-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image2-desktop1x.jpg 1x"
            alt="Women's blouse gorgany" />
        </picture>


        <h3 class="collection-list-title">Women's blouse gorgany</h3>
        <p class="collection-list-text">3350 uah</p>

      </li>
      <li class="collection-card">
        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image3-desktop1x.jpg 1x, /images/our-collection/image3-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image3-tablet1x.jpg 1x, /images/our-collection/image3-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image3-mobile.jpg 1x, /images/our-collection/image3-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image3-desktop1x.jpg 1x"
            alt="Women's blouse crimea" />
        </picture>

        <h3 class="collection-list-title">Women's blouse crimea</h3>
        <p class="collection-list-text">4000 uah</p>

      </li>
      <li class="collection-card">

        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image4-desktop1x.jpg 1x, /images/our-collection/image4-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image4-tablet1x.jpg 1x, /images/our-collection/image4-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image4-mobile.jpg 1x, /images/our-collection/image4-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image4-desktop1x.jpg 1x"
            alt="Men's shirt Verkhovina" />
        </picture>
        <h3 class="collection-list-title">Men's shirt Verkhovina</h3>
        <p class="collection-list-text">3100 uah</p>
      </li>
      <li class="collection-card">

        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image5-desktop1x.jpg 1x, /images/our-collection/image5-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image5-tablet1x.jpg 1x, /images/our-collection/image5-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image5-mobile.jpg 1x, /images/our-collection/image5-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image5-desktop1x.jpg 1x" alt="Mountain men's shirt" />
        </picture>


        <h3 class="collection-list-title">Mountain men's shirt</h3>
        <p class="collection-list-text">3300 uah</p>

      </li>
      <li class="collection-card">

        <picture>
          <source media="(min-width: 1280px)"
            srcset="/images/our-collection/image6-desktop1x.jpg 1x, /images/our-collection/image6-desktop@2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="/images/our-collection/image6-tablet1x.jpg 1x, /images/our-collection/image6-tablet@2x.jpg 2x" />
          <source media="(max-width: 767px)"
            srcset="/images/our-collection/image6-mobile.jpg 1x, /images/our-collection/image6-mobile@2x.jpg 2x" />
          <img class="collection-img" src="/images/our collection/image6-desktop1x.jpg 1x" alt="Men's shirt yasen" />
        </picture>
        <h3 class="collection-list-title">Men's shirt yasen</h3>
        <p class="collection-list-text">1700 uah</p>
      </li>
    </ul>
  </div>
</section>