<section class="section">
  <div class="container">
    <h2 class="collection-title" id="our-collection">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-card">
          
        <div class="collection-box">
            <picture>
                <source
                  srcset="./images/our collection/our-collection-bg-desktop1x.png 1x, ./images/our collection/our-collection-bg-desktop@2x.png 2x"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/our collection/our-collection-bg-tablet1x.png 1x,
                    ./images\our collection\our-collection-bg-tablet@2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <img
                  class="collection-bg"
                  src="./images/our collection/our-collection-bg-mobile.png"
                  srcset="./images/our collection/our-collection-bg-mobile.png 1x, ./images/our collection/our-collection-bg-mobile@2x.png2x"
                  alt="our-collection-bg"
                />
              </picture>  
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/our collection/image1-desktop1x.jpg 1x, /images/our collection/image1-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images/our collection/image1-tablet1x.jpg 1x, ./images/our collection/image1-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection/image1-mobile1x.jpg"
              srcset="./images/our collection/image1-mobile1x.jpg 1x, ./images/our collection/image1-mobile@2x.jpg 2x"
              alt="AUGUST POLTAVA WOMEN'S BLOUSERING"
            />
          </picture>
        </div>

        <div class="collection-card-card">
          <h3 class="collection-list-title">
            AUGUST POLTAVA WOMEN'S BLOUSERING
          </h3>
          <p class="collection-list-text">3300 UAN</p>
        </div>
      </li>
      <li class="collection-card">
        <div class="collection-box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/our collection/image2-desktop1x.jpg 1x, ./images/our collection/image2-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images/our collection/image2-tablet1x.jpg 1x, ./images/our collection/image2-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection/image2-mobile1x.jpg"
              srcset="./images/our collection/image2-mobile1x.jpg 1x, ./images/our collection/image2-mobile@2x.jpg 2x"
              alt="WOMEN'S BLOUSE GORGANY"
            />
          </picture>
        </div>
        <div class="collection-card-card">
          <h3 class="collection-list-title">WOMEN'S BLOUSE GORGANY</h3>
          <p class="collection-list-text">3350 UAN</p>
        </div>
      </li>
      <li class="collection-card">
        <div class="collection-box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images\our collection\image3-desktop1x.jpg 1x, ./images/our collection/image3-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images\our collection\image3-tablet1x.jpg 1x, ./images\our collection\image3-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection/image3-mobile1x.jpg"
              srcset="./images/our collection/image3-mobile1x.jpg 1x, ./images/our collection/image3-mobile@2x.jpg 2x"
              alt="WOMEN'S BLOUSE CRIMEA"
            />
          </picture>
        </div>
        <div class="collection-card-card">
          <h3 class="collection-list-title">WOMEN'S BLOUSE CRIMEA</h3>
          <p class="collection-list-text">4000 UAN</p>
        </div>
      </li>
      <li class="collection-card">
        <div class="collection-box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/our collection/image4-desktop1x.jpg 1x, ./images/our collection/image4-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images/our collection/image4-tablet1x.jpg 1x, ./images/our collection/image4-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection/image4-mobile1x.jpg"
              srcset="./images/our collection/image4-mobile1x.jpg 1x, ./images/our collection/image4-mobile@2x.jpg 2x"
              alt="MEN'S SHIRT VERKHOVINA"
            />
          </picture>
        </div>

        <div class="collection-card-card">
          <h3 class="collection-list-title">MEN'S SHIRT VERKHOVINA</h3>
          <p class="collection-list-text">3100 UAN</p>
        </div>
      </li>
      <li class="collection-card">
        <div class="collection-box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/our collection/image5-desktop1x.jpg 1x, ./images/our collection\image5-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images/our collection/image5-tablet1x.jpg1x, ./images/our collection/image5-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection/image5-mobile1x.jpg"
              srcset="./images/our collection/image5-mobile1x.jpg 1x, ./images/our collection/image5-mobile@2x.jpg 2x"
              alt="MOUNTAIN MEN'S SHIRT"
            />
          </picture>
        </div>
        <div class="collection-card-card">
          <h3 class="collection-list-title">MOUNTAIN MEN'S SHIRT</h3>
          <p class="collection-list-text">3300 UAN</p>
        </div>
      </li>
      <li class="collection-card">
        <div class="collection-box">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/our collection/image6-desktop1x.jpg 1x, ./images/our collection/image6-desktop@2x.jpg 2x"
            />
            <source
              media="(max-width: 1280px) and (min-width: 768px)"
              srcset="./images\our collection/image6-tablet1x.jpg 1x, ./images/our collection/image6-tablet@2x.jpg 2x"
            />
            <img
              class="collection-img"
              src="./images/our collection\image6-mobile1x.jpg"
              srcset="./images/our collection\image6-mobile1x.jpg 1x, ./images/our collection/image6-mobile@2x.jpg 2x"
              alt="MEN'S SHIRT YASEN"
            />
          </picture>
        </div>

        <div class="collection-card-card">
          <h3 class="collection-list-title">MEN'S SHIRT YASEN</h3>
          <p class="collection-list-text">1700 UAN</p>
        </div>
      </li>
    </ul>
  </div>
</section>
