.about-us {
  padding-top: 40px;
  padding-bottom: 62px;
  background-image: url(../images/bg-ornament/grey1x.png);
  background-repeat: no-repeat;
  background-position-x: calc(50% + 167px);
  background-position-y: calc(50% + 302px);
  background-size: 459px 408px;
}
.container-about-us {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-resolution: 192dpi) {
  .about-us {
    background-image: url(../images/bg-ornament/grey@2x.png);
  }
}

.about-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.about-text {
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: 545px 484px;
    background-position-x: calc(50% + 286px);
    background-position-y: calc(50% + 260px);
  }
  .container-about-us {
    gap: 40px;
  }
  .about-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }
  .about-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    padding-top: 75px;
    padding-bottom: 80px;
    background-position-x: calc(50% + 526px);
    background-position-y: calc(50% + 107px);
  }
  .container-about-us {
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .about-text {
    width: 536px;
  }
  .about-one-paragraf {
    width: 508px;
  }
}
