.footer-page {
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .footer-nav-list {
    display: grid;
    grid-template-columns: 116px 124px;
    justify-items: start;
    align-items: start;
    column-gap: 40px;
    row-gap: 25px;
    grid-template-areas:
      'child-1 child-3'
      'child-2 child-4';
    margin-bottom: 80px;
  }
  .footer-nav-item:nth-child(1) {
    grid-area: child-1;
  }
  .footer-nav-item:nth-child(2) {
    grid-area: child-2;
  }
  .footer-nav-item:nth-child(3) {
    grid-area: child-3;
  }
  .footer-nav-item:nth-child(4) {
    grid-area: child-4;
  }
}
.footer-nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  margin-bottom: 80px;
  max-width: 335px;
}

.footer-span-text {
  color: #ecd979;
}

.footer-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
  }
  .footer-text {
    font-size: 54px;
    line-height: 1.19;
    max-width: 521px;
  }
  .footer-picture {
    max-height: 100%;
    position: absolute;
    left: 80%;
    top: 0%;
  }
}
@media screen and (min-width: 1280px) {
  .footer-text {
    font-size: 64px;
    line-height: 1.16;
    max-width: 754px;
  }
}
