.footer-container {
  padding-top: 40px;
  padding-bottom: 282px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url(../images/footer/footer-bg-mobile1x.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.footer-nav-list {
  display: grid;
  grid-template-columns: 116px 124px;
  justify-items: start;
  align-items: start;
  column-gap: 40px;
  row-gap: 25px;
  grid-template-areas:
    'child-1 child-3'
    'child-2 child-4';
  margin-bottom: 40px;
}
.footer-nav-item:nth-child(1) {
  grid-area: child-1;
}
.footer-nav-item:nth-child(2) {
  grid-area: child-2;
}
.footer-nav-item:nth-child(3) {
  grid-area: child-3;
}
.footer-nav-item:nth-child(4) {
  grid-area: child-4;
}
.footer-nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
.footer-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  max-width: 335px;
}

.footer-span-text {
  color: #ecd979;
}

.footer-container {
  position: relative;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .footer-container {
    background-image: url(../images/footer/footer-bg-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-bottom: 40px;
    background-image: url(../images/footer/footer-bg-tablet1x.png);
    background-position: right top;
  }
  .footer-nav-list {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
  }
  .footer-text {
    font-size: 54px;
    line-height: 1.19;
    max-width: 521px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .footer-container {
    background-image: url(../images/footer/footer-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .footer-nav-list {
    margin-bottom: 117px;
  }
  .footer-text {
    font-size: 64px;
    line-height: 1.16;
    max-width: 754px;
  }
  .footer-container {
    background-image: url(../images/footer/footer-bg-desktop1x.png);
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .footer-container {
    background-image: url(../images/footer/footer-bg-desktop@2x.png);
  }
}
