.hero-wrap {
  padding-top: 84px;
  margin-bottom: 80px;
}

.hero-text {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  width: 335px;
}

.hero-text-part {
  color: #ecd979;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 39px;
  background-color: transparent;
  width: 168px;
  height: 50px;
  margin-top: 20px;
  margin-left: 70px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
}

.hero-img {
  min-width: 335px;
  height: 545px;
}

.hero-star {
  display: none;
}

.hero-star-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(252, 249, 249, 0.4);
}

@media screen and (min-width: 768px) {
  .hero-wrap {
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .hero-text {
    width: 549px;
    font-size: 54px;
    line-height: 1.19;
  }

  .hero-button {
    margin-top: 40px;
    margin-bottom: 46px;
    margin-left: 141px;
  }

  .hero-img {
    max-width: 413px;
    height: 575px;
  }

  .hero-star {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 114px;
    right: 32px;
  }

  .hero-star-text {
    width: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 150px;
  }

  .hero-text {
    width: 519px;
    margin-top: 94px;
  }

.hero-button{
  margin-bottom: 0;
}

  .hero-button:focus,
  .hero-button:hover {
    border-color: #ecd979;
  }

  .hero-img {
    max-width: 392px;
    height: 545px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1440px){
.hero-text{
  font-size:64px;
  width:610px;
  line-height: 1.15;
  margin-top: 66px;
}

.hero-star{
  top:166px;
}

}