.overlay-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;   
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mobile-tab-menu {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 274px;
    height: 100%;
    padding: 20px 20px;
    background-color: #ecd979;
    background-image: url(/images/menu/menu-bg-mobile1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

@media screen and (max-width: 767px) and (min-resolution:192dpi) {
.mobile-tab-menu{
    background-image: url(/images/menu/menu-bg-mobile@2x.png);
}
}

.mobile-tab-menu-address {
    border: 1px solid rgba(28, 34, 37, 0.1);
    border-radius: 15px;
    width: 160px;
    height: 38px;
    margin-bottom: 186px;
}

.mobile-menu-tel {
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #1c2225;
    padding: 12px 20px;
}

.mobile-menu-btn-close {
    stroke-width: 2px;
    stroke: #1c2225;
    position: absolute;
    top: 21px;
    right: 20px;
    background-color: transparent;
    border: none;
}

.icon-close-mobile{
    width: 36px;
    height: 36px;
}

.mobile-tab-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.mobile-tab-menu-items-link {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #1c2225;
}

@media screen and (min-width: 768px) {
.mobile-tab-menu{
    min-width: 380px;
}
.mobile-tab-menu{
    padding: 20px 32px;
    background-image: url(/images/menu/menu-bg-tablet1x.png);
}
.mobile-tab-menu-address{
    width: 195px;
    height: 48px;
    margin-bottom: 223px;
}
.mobile-menu-tel{
    padding: 14px 28px;
    font-size: 14px; 
    line-height: 1.43;
}
.mobile-menu-btn-close{
    top: 20px;
    right: 32px;
}
.icon-close-mobile{
    width: 44px;
    height: 44px;
}
}
@media screen and (min-width: 768px) and (min-resolution:192dpi) {
    .mobile-tab-menu {
        background-image: url(/images/menu/menu-bg-tablet@2x.png);
    }
}