.collection-container {
  padding-top: 18px;
  padding-bottom: 80px;
  background-image: url(/images/our-collection/our-collection-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: left top;
}
.collection-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.collection-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.collection-img {
  border-radius: 4px;
  margin-bottom: 18px;
}

.collection-list-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: start;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.collection-list-text {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(252, 249, 249, 0.4);
}
@media screen and(max-width: 767px) and (min-resolution: 192dpi) {
  .collection-container {
    background-image: url(/images/our-collection/our-collection-bg-mobile@2x.png);
  }
}
/*------------------TABLET--------------*/

@media screen and (min-width: 768px) {
  .collection-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(/images/our-collection/our-collection-bg-tablet1x.png);
  }

  .collection-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .collection-card {
    width: calc((100% - 20px) / 2);
  }
  .collection-list-title {
    font-size: 18px;
  }
  .collection-list-text {
    font-size: 18px;
  }
}
@media screen and (min-resolution: 192dpi) {
  .collection-container {
    background-image: url(/images/our-collection/our-collection-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .collection-container {
    padding-top: 70px;
    padding-bottom: 150px;
    background-image: url(/images/our-collection/our-collection-bg-desktop1x.png);
  }
  .collection-list {
    row-gap: 40px;
  }

  .collection-card {
    width: calc((100% - 40px) / 3);
  }
}
@media screen and (min-resolution: 192dpi) {
  .collection-container {
    background-image: url(/images/our-collection/our-collection-bg-desktop@2x.png);
  }
}
