
.collection-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    text-align: center;
    color: #fcf9f9;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    padding-top: 18px;    
    margin-top: 70px;
  }
  
  .collection-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;  
    margin-bottom: 150px;
  }

  .collection-card {
    width: 100%;
    margin: 0 auto;
  }
  
  .collection-box {
    position: relative;  
    
  }
  
  .collection-bg {
    position: absolute; 
    top: 0; 
    left: -150px; 
    width: 150px;
    height: 65%; 
    background-image: url('./images/our collection/our-collection-bg-mobile.png'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left center; 
    z-index: -1; 
    margin-top: 180px;
    
}
    


  .collection-img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
  }
  
  .collection-list-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #fcf9f9;
    letter-spacing: 0.05em;
    margin-bottom: 8px;
  }

  .collection-list-text {
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
  }


/*------------------TABLET--------------*/

 @media (min-width: 768px) and (max-width: 1280px) {
    
     .collection-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row;
      gap: 20px;
    }


    .collection-card {
      width: calc((100% - 24px) / 2);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .collection-card-card {
      padding: 32px 20px;
    }
 }
/*--------------------DESKTOP-----------------*/

 @media (min-width: 1280px) {

    .collection-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: row;
      gap: 20px;
    
    }


    .collection-card {
      width: calc((100% - 48px) / 3);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   
 }

 